/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2017, 11:11:43 PM
    Author     : USER
*/


ul li{
    list-style-type: none;
    display: inline;
     font-size: 24px;
     background: #ef5350;
     padding:15px;
     border-radius: 15px;

}

#cabecera{
   text-align: center;
   font-family: Calibri;
   color: #b71c1c;
   font-size: 20px;
}
#menu{
     text-align: center;
     
} 

#pie{
    text-align: center;
    background: #b71c1c;
    font-size: 20px;
    color: black;
    float:  end;   
}

a{
    text-decoration: none;
    color:#3C424A;
}

a:hover{
    font-size: 28px;
    color:  red;
}

#conocenos {
    display: block;
     float: left;
     font-size: 24px;
     padding-top: 100px;
     padding: 15px;
     background: #ef5350;
     border-radius: 15px;

}

#conocenos a{
    text-decoration: none;
    color:#3C424A;
    float: left;
}



#conocemos p{
    text-align: right;
    float: right;
}
.row{
    text-align: center;
    margin: 1em;
}